GCP_PROJECT_ID=
GCP_REGION=us-central1
BQ_LOCATION=US
BQ_DATASET=predictive_maintenance
GCS_BUCKET=
VERTEX_EXPERIMENT=predictive-maintenance-experiment
VERTEX_MODEL_NAME=equipment-failure-classifier
ENDPOINT_NAME=equipment-failure-endpoint
